/* styles for my website */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p{
    margin: 20px 70px;
}
li{
    margin-left: 60px;
}

header {
    background:rgb(0 98 25);
    overflow:hidden;
    padding: 20px 0;
}

#inner-header,
#inner-footer {
    margin:20px auto;
    max-width: 1200px;
}
#logo_img{
    float:left;
    width: 60px;
}

.logo{
    float:left;
    margin:40px;
}

#logo_text{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-decoration: none;
    font-size: 30pt;
    margin-left:20px;
    margin-top: 50px;
    font-weight: bold;

}
nav ul {
    float: right;
    margin-top: 57px;
    margin-right: 95px;
}

nav li {
    float: left;
    margin-left: 80px;
    list-style-type:none;
    
}
.current {
    color: red;
    }

nav a {
    text-decoration: none;
    color: white;
}
#wrapper{
    margin:20px auto;
    max-width: 1200px;
}

#hero{
    height: 300px;
    background: red;
    margin-bottom: 20px;
    clear: both;
}

main {
    width:68%;
    padding:5px;
    margin-bottom: 20px;
    float:left;

}

#daily_photo{ float:left;
    margin:20px 20px;
    width: 600px;

}
.match_img{
    width: 80%;
    margin: 2px;

}

#image-soccer{
    width: 80%;
    margin: 72px;
}

.screenshot{
    display: block;
    max-width: 100%;
    margin:30px;
}


#my_photo{
    float:left;
    margin:20px 20px;
    width: 280px;
}
#mamp_title, #error_title{
    float:left;
    clear:both;
}
#mamp,#error{
    float:left;
    margin:20px 20px;
    width: 100%;
    clear:both;
}

.welcome-logout{
    margin:20px 20px;
    color: red;
}

aside{
    width:30%;
    padding: 5px;
    float: right;
}

footer {
    border-top: 1px solid #666;
    height:50px;
    clear:both;
    height: 50px;
    line-height: 50px;
}

footer li {
    float:left;
    margin-right:30px;
    list-style-type: none;
}



/* styles for the FORM */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


form {
    width: 600px;
    margin: 20px auto;

}

fieldset {
    border: 1px solid rgb(23, 74, 241);
    padding: 10px;
    background-color:rgb(191, 248, 195);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit] {
    display: block;
    margin-bottom: 10px;
}


.error {
    display: block;
    color: red;
    margin-bottom: 8px;
    font-style: italic;
}

form ul {
    margin-left: 10px;
    list-style-type: none;
    margin-bottom: 7px;
}

select, textarea {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 140px;
    resize: none;
}


/*gallery page */
table {
    border: 1px solid blue;
    border-collapse: collapse;
    margin: 5px auto;
    width: 160%;
}
th, td {
    border: 1px solid blue;
}
.soccer_img {
    padding: 5px 5px 0 5px;
    width: 100%;
}

.soccer_table{
    width: 120%;
}
.text {
    padding: 10px;
}
.cb {
    clear:  both;
}